@font-face {
    font-family: Raleway;
    src: url(font/Raleway-Regular.ttf);
}
div {
  display: block;

}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

header {
  height: 110px;
  background: #e97f02;
  /*margin: 0;*/
}

header p {
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  font:bold;
}

.top input {
  float: right;
  margin: 20px 30px;
  width: 400px;
  height: 40px;
  background : #FFFAFA;
  border-radius: 5px;
  border: 1px solid #8B8;
}

.top h1 {
  overflow: hidden;
  margin-left:10px;
  float: left;
  color : #fff;
}

.slideshow {
  background: url(img/header.jpg) no-repeat;
  position: relative;
  background-size: cover;
  height: 750px;
  width: 100%;
}

.slideshow h1 {
  color: #fff;
  float:right;
  width: 240px;
  height: 80px;
  margin-top: 650px;
   border-right: 2px solid #fff;
  margin-right: -145px;
}

.slideshow p{
 color : #fff;
  float: right;
  margin-top: 690px;
margin-right: -230px;
}

.nav {
  float: left;
  overflow: hidden;
  clear: both;
}

.nav a{
  text-decoration: none;
  font-size: 20px;
  padding: 50px 10px 0px 10px;
  margin: 10px;
  position: relative;
  color: #fff;
}

.nav a:hover{
color: black;
text-decoration:underline;
}

.nav li {
  list-style: none;
  float: left;
  padding-bottom: 12px;
  border-right: 1px solid #fff;
}

.menu-login a {
  text-decoration: none;
  float: right;
  margin-right: 30px;
  padding-bottom: 20px;
  color: #fff;
}

.food-favorit{
  margin:10px auto;
  text-align: center;
}

.kolom-favorit {
  margin: 0 auto ;
  width: 350px;
  height: 250px;
  display: table;
  border-bottom: 2px dashed #e97f02;
  border-radius: 10px;
  }

#coloumn1{
  height: auto;
  text-align: left;
  margin-right: 10px;
  display: inline-block;
  width: auto;
  border: 2px dashed #e97f02;
  border-radius: 10px;
}

.judul-food{
 float:left;
margin: 0 10px;
padding: 0;
display:block;
position:absolute;
}

.judul-food p, a {
margin :0;
padding:0;
text-decoration:none;
}

.rating p, #poin {
float:right;
font-size: 30px;
margin: 0 5px;
display:block;
clear: both;
text-align:center;
}

.rating p {
font-size: 50px;
margin-right: 15px;
margin-top: 0;
}


.event {
  background: linear-gradient(
      rgba(45, 136, 117, 0.6), 
      rgba(45, 136, 117, 0.6)
    ),
   url(img/lauk.jpg) no-repeat;
  margin: 0;
  height: 300px;
  padding: 10px 10px;
  background-size: cover;
  position: relative;
  clear: both;
  text-align: center;
  color: #fff;
}

.event h1 {
margin-top:100px;
}

.daftar {
display:inline-block;
align:center;
text-align:center;
margin: 0 auto;
}

.daftar input {
	height : 50px;
	width : 800px;
	align:center;
	padding: 5px;
	margin: 10px;
     border : 0.5px solid #CDC9C9;
}

.daftar .submit{
background: #e97f02;
color: #fff;

}



footer{
  background: #363636;
  height: 75px;
  padding: 0 auto;
text-align:center;
  }

footer p{

  margin: 0 auto;
  padding-top: 30px;
  color: #fff;
}
